@page
@using Janssen.Core.Web3.Models @*namespace*@
@model Janssen.Core.Web3.Pages.Admin.IndexModel
@{
    Layout = null;
}


<h1>Admin Page</h1>
<form method="post">
    <button type="submit">Log out</button>
</form>
<p>
    <a asp-page="/Enroll">Enroll New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Previous School")
            </th>
            <th>
                @Html.DisplayName("Birth Year")
            </th>
            <th>
                @Html.DisplayName("Gender")
            </th>
            <th>
                @Html.DisplayName("IMG URL")
            </th>
            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrevSchool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    <a asp-page="./edit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./index" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>